[submodule "zsh"]
	path = zsh
	url = https://github.com/euugenechou/zsh.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/euugenechou/tmux.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/euugenechou/nvim.git
[submodule "yabai"]
	path = yabai
	url = https://github.com/euugenechou/yabai.git
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/euugenechou/alacritty.git
