[submodule "zsh"]
	path = zsh
	url = git@github.com:euugenechou/zsh.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:euugenechou/tmux.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:euugenechou/nvim.git
[submodule "yabai"]
	path = yabai
	url = git@github.com:euugenechou/yabai.git
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:euugenechou/alacritty.git
